{{input type="number" value=columns}}

<div>
  {{#simple-grid columns=columns as | grid |}}
    {{#each items as | item |}}
      {{#grid.image}}
        <img src="{{item.image}}" alt="">
      {{/grid.image}}
    {{/each}}
  {{/simple-grid}}
</div>

{{yield}}
