
.grid-wrapper {
  width: 300px;
}

.simple-grid-item {
  position: absolute;

  background: #4abdac;

  font-style: normal;
  font-weight: bold;
  font-family: Tahoma;

  color: white;
}

img {
  width: 100%;
  height: auto;
}
